@import "tailwindcss";

@layer base {
  h1 {
    @apply text-4xl font-black;
  }
  h2 {
    @apply text-2xl font-black mb-2;
  }
  h3 {
    @apply text-xl font-black mb-1;
  }
  a {
    color: revert;
    text-decoration: revert;
  }
  a:visited {
    color: revert;
    text-decoration: revert;
  }
  img {
    @apply inline;
  }
}
