---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import ryuhei from '../assets/RyuheiMori.jpg';
import pronounce from '../assets/ipa.png';
---
<Layout>
<dl>
<dt class="mb-4"><h1>
Ryuhei Mori
<Image class="h-8" alt="ponunciation" src={pronounce}/>
</h1></dt>
<div class="flex items-center">
<dd class="mr-4">
<img  class="h-64" alt="picture" src={ryuhei.src}/>
</dd>
<div>
<dd>Associate Professor, </dd>
<dd>
<div id="affiliation">
Graduate School of Mathematics,<br>
Nagoya University.
</div></dd>
<dd class="mb-4">
mori[at]math.nagoya-u.ac.jp
</dd>
<dd>
<ul id="ids">
<li>ORCID: <a href="http://orcid.org/0000-0001-5474-5145">0000-0001-5474-5145</a></li>
<li><a href="http://scholar.google.com/citations?user=7q_zIE0AAAAJ&amp;hl=en">Google Scholar Citations</a></li>
</ul>
</dd>
</div>
</div>
</dl>

<article class="p-4">
<h2>Interests</h2>
<ul>
<li>Quantum information: Foundation of quantum mechanics by information processing, nonlocality, generalized probabilistic theories, quantum computation.</li>
<li>Information theory: Low-density parity-check codes, belief propagation, graph covers, polar codes.</li>
<li>Computer science: Constraint satisfaction problems, fully polynomial-time approximation scheme for &#35;P-complete problems, holographic transformation, quantum computation.</li>
<li>Statistical physics: The Bethe approximation, cluster expansions, partition function zeros, replica method.</li>
</ul>
</article>
<article class="p-4">
<article>
<h2>Biography</h2>
<ul>
<li>Apr. 2023&ndash; ,  Current position.</li>
<li>Jan. 2015&ndash; Mar. 2023,  Assistant Professor at Tokyo Institute of Technology.</li>
<li>Apr. 2013&ndash; Dec. 2014,  Postdoctoral Fellow at Tokyo Institute of Technology.</li>
<li>Apr. 2010&ndash; Mar. 2013,  Ph.D. in Informatics, Kyoto University, Kyoto, Japan.</li>
<li>Apr. 2008&ndash; Mar. 2010,  Master of Informatics at Graduate School of Informatics, Kyoto University, Kyoto, Japan.</li>
<li>Apr. 2000&ndash; Mar. 2008,  Bachelor  of Engineering at Tokyo Institute of Technology, Tokyo, Japan.</li>
</ul>
</article>
</Layout>
