---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import ryuhei from '../assets/RyuheiMori.jpg';
import pronounce from '../assets/ipa.svg';
import orcid from '../assets/ORCID-iD_icon_BW_vector.svg';
import googlescholar from '../assets/googlescholar-svgrepo-com.svg';
---
<Layout>
<div class="mb-4 ml-4"><h1>
Ryuhei Mori
<Image class="h-10" alt="ponunciation" src={pronounce}/>
</h1></div>
<div class="flex items-center ml-4">
<div class="mr-4">
<img  class="h-64" alt="portrait" src={ryuhei.src}/>
</div>
<div>
<p>Associate Professor, </p>
<p class="mb-4">
Graduate School of Mathematics,<br>
Nagoya University.
</p>
<p class="mb-4">
mori[at]math.nagoya-u.ac.jp
</p>
<p>
<ul class="space-y-2">
<li><a href="http://orcid.org/0000-0001-5474-5145" aria-label="View ORCID record"><Image class="h-5 w-5 mr-1" alt="ORCID iD" src={orcid}/>0000-0001-5474-5145</a></li>
<li><a href="http://scholar.google.com/citations?user=7q_zIE0AAAAJ&amp;hl=en"><Image class="h-5 w-5 mr-1" alt="Google Scholar Citations" src={googlescholar}/>Google Scholar Citations</a></li>
</ul>
</p>
</div>
</div>

<article class="ml-4 mt-8">
<h2>Interests</h2>
<ul>
<li>Quantum information: Foundation of quantum mechanics by information processing, nonlocality, generalized probabilistic theories, quantum computation.</li>
<li>Information theory: Low-density parity-check codes, belief propagation, graph covers, polar codes.</li>
<li>Computer science: Constraint satisfaction problems, fully polynomial-time approximation scheme for &#35;P-complete problems, holographic transformation, quantum computation.</li>
<li>Statistical physics: The Bethe approximation, cluster expansions, partition function zeros, replica method.</li>
</ul>
</article>
<article class="ml-4 mt-8">
<article>
<h2>Biography</h2>
<ul>
<li>Apr. 2023&ndash; ,  Current position.</li>
<li>Jan. 2015&ndash; Mar. 2023,  Assistant Professor at Tokyo Institute of Technology.</li>
<li>Apr. 2013&ndash; Dec. 2014,  Postdoctoral Fellow at Tokyo Institute of Technology.</li>
<li>Apr. 2010&ndash; Mar. 2013,  Ph.D. in Informatics, Kyoto University, Kyoto, Japan.</li>
<li>Apr. 2008&ndash; Mar. 2010,  Master of Informatics at Graduate School of Informatics, Kyoto University, Kyoto, Japan.</li>
<li>Apr. 2000&ndash; Mar. 2008,  Bachelor  of Engineering at Tokyo Institute of Technology, Tokyo, Japan.</li>
</ul>
</article>
</Layout>
