---
import Layout from '../layouts/Layout.astro';
---
<Layout>
<article>
<h2>Talk slides</h2>
<ol reversed>
<li>&ldquo;<a href="./slides/Mori_Witmer_RANDOM2016.pdf">Lower Bounds for CSP Refutation by SDP Hierarchies</a>&rdquo; in
<abbr title="the International Workshop on Randomization and Computation">APPROX/RANDOM</abbr>, Paris, France, Sep. 9, 2016.</li>
<li>&ldquo;<a href="./slides/Mori_ISIT2015.pdf">Holographic transformation, belief propagation and loop calculus for generalized probabilistic
theories</a>&rdquo; in
<a href="http://www.isit2015.org/"><abbr title="International Symposium on Information Theory">ISIT</abbr></a>, Hong Kong, Jun. 16, 2015.
<li>&ldquo;<a href="./slides/Mori_SITA2012.pdf">New generalizations of the Bethe approximation via asymptotic expansion</a>&rdquo; in
<abbr title="Symposium on Information Theory and its Application">SITA</abbr>, Oita, Japan, Dec. 13, 2012.</li>
<li>&ldquo;<a href="./slides/Mori_SITA2011.pdf">Statistical mechanical analysis of low-density parity-check codes on general Markov channel</a>&rdquo; in
<abbr title="Symposium on Information Theory and its Application">SITA</abbr>, Iwate, Japan, Nov. 30, 2011.</li>
<li>&ldquo;<a href="./slides/Mori_SCW2011.pdf">Growth rate of spatially coupled LDPC codes</a>&rdquo; in
<a href="http://www.comm.ss.titech.ac.jp/scw2011.html"><abbr title="Workshop on Spatially Coupled Codes and Related Topics">SCW</abbr></a>, Tokyo, Japan, Feb. 9, 2011.</li>
<li>&ldquo;<a href="./slides/Mori_ITW2010.pdf">Non-binary polar codes using Reed-Solomon codes and algebraic geometry codes</a>&rdquo; in
<a href="http://www.itw-2010.org"><abbr title="Information Theory Workshop">ITW</abbr></a>, Dublin, Ireland, Aug. 31, 2010.</li>
<li>&ldquo;<a href="./slides/Mori_ISIT2009.pdf">Finite-length analysis of irregular expurgated LDPC codes under finite number of iterations</a>&rdquo; in
<a href="http://www.isit2009.info"><abbr title="International Symposium on Information Theory">ISIT</abbr></a>, Seoul, Korea, Jul. 3, 2009.
</ol>
</article>
<article>
<h2>Toy programs</h2>
<ol reversed>
<li><a href="./polar.svg">Demonstration of channel polarization by <abbr title="Scalable Vector Graphics">SVG</abbr></a>
(Updated at 11 Dec. 2010, available for Firefox, Opera and WebKit)</li>
</ol>
</article>
</Layout>
