---
import Layout from '../layouts/Layout.astro';
---
<Layout>
<h2>Talk slides</h2>
<ul>
<li>&ldquo;<a href="/slides/LATIN2020.pdf">Exponential-time quantum algorithms for graph coloring problems</a>&rdquo; in
<abbr title="14th Latin American Theoretical Informatics Symposium">LATIN</abbr>, São Paulo, Brazil, Jan. 6, 2021.</li>
<li>&ldquo;<a href="/slides/Mori_Witmer_RANDOM2016.pdf">Lower Bounds for CSP Refutation by SDP Hierarchies</a>&rdquo; in
<abbr title="the International Workshop on Randomization and Computation">APPROX/RANDOM</abbr>, Paris, France, Sep. 9, 2016.</li>
<li>&ldquo;<a href="/slides/Mori_ISIT2015.pdf">Holographic transformation, belief propagation and loop calculus for generalized probabilistic
theories</a>&rdquo; in
<abbr title="International Symposium on Information Theory">ISIT</abbr>, Hong Kong, Jun. 16, 2015.
<li>&ldquo;<a href="/slides/Mori_SITA2012.pdf">New generalizations of the Bethe approximation via asymptotic expansion</a>&rdquo; in
<abbr title="Symposium on Information Theory and its Application">SITA</abbr>, Oita, Japan, Dec. 13, 2012.</li>
<li>&ldquo;<a href="/slides/Mori_SITA2011.pdf">Statistical mechanical analysis of low-density parity-check codes on general Markov channel</a>&rdquo; in
<abbr title="Symposium on Information Theory and its Application">SITA</abbr>, Iwate, Japan, Nov. 30, 2011.</li>
<li>&ldquo;<a href="/slides/Mori_SCW2011.pdf">Growth rate of spatially coupled LDPC codes</a>&rdquo; in
<abbr title="Workshop on Spatially Coupled Codes and Related Topics">SCW</abbr>, Tokyo, Japan, Feb. 9, 2011.</li>
<li>&ldquo;<a href="/slides/Mori_ITW2010.pdf">Non-binary polar codes using Reed-Solomon codes and algebraic geometry codes</a>&rdquo; in
<abbr title="Information Theory Workshop">ITW</abbr>, Dublin, Ireland, Aug. 31, 2010.</li>
<li>&ldquo;<a href="/slides/Mori_ISIT2009.pdf">Finite-length analysis of irregular expurgated LDPC codes under finite number of iterations</a>&rdquo; in
<abbr title="International Symposium on Information Theory">ISIT</abbr>, Seoul, Korea, Jul. 3, 2009.
</ul>

<h2 class="mt-8">Toy programs</h2>
<ul>
<li><a href="/polar.svg">Demonstration of channel polarization by <abbr title="Scalable Vector Graphics">SVG</abbr></a>
(Updated at 11 Dec. 2010, available for Firefox, Opera and WebKit)</li>
</ul>
</Layout>
