---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import ThemeIcon from './ThemeIcon.astro';
import { Image } from 'astro:assets';
import logo from '../assets/logo.svg';
---

<header class="lg:flex p-5  gap-5">
  <Astronav>
    <div class="flex">
      <div class="block lg:hidden">
        <MenuIcon class="w-8 h-8 text-gray-800 dark:invert" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul class="flex flex-col lg:flex-row lg:gap-5 text-lg">
        <li><a href="/" class="no-underline text-current">Home</a></li>
        <li><a href="/publications" class="no-underline text-current">Publications</a></li>
        <li><a href="/slides" class="no-underline text-current">Slides</a></li>
        <li><ThemeIcon />
      </ul>
    </MenuItems>
  </Astronav>
</header>
