---
import "../styles/global.css";
import Navbar from '../components/Navbar.astro';
import { Image } from 'astro:assets';
import ryuhei from '../assets/RyuheiMori.jpg';
import pronounce from '../assets/ipa.png';
import publications from '../data/publications.yml';
const { journal_papers, conference_papers, preprints} = publications;
---
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<title>Ryuhei Mori</title>
</head>
<body>
<header>
<Navbar />
</header>
<main role="main" class="p-8">
  <slot />
</main>
<footer>
</footer>
</body>
</html>
