---
import "../styles/global.css";
import Navbar from '../components/Navbar.astro';
---
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<title>Ryuhei Mori</title>
</head>
<body class="bg-white text-black dark:bg-black dark:text-white">
<Navbar />
<main role="main" class="p-8">
  <slot />
</main>
<footer>
</footer>
</body>
</html>
